/* Configuration */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, button, a {
    all: unset;
    list-style: none;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Source sans 3", sans-serif;
}

:root {
    --bg-color: #a306b6;
    --articlebg: #d9d9d9;
    --h2-color: #a306b6;
    --h3-color: black;
    --navtext-color: white;
    --btn-color: white;
}

/* Nav barre */

nav {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    color: var(--navtext-color);
}

nav > img {
    max-height: 4rem;
}

nav > ul {
    display: flex;
    gap: 2rem;
}

a {
    &:hover {
        text-decoration: underline 2px solid var(--navtext-color);
    }
}

/* Header */

header {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header > img {
    height: 12rem;
    background-color: var(--navtext-color);
    border: 2px solid var(--navtext-color);
    border-radius: 50%;
}

header > h1 {
    color: var(--navtext-color);
    max-width: 8ch;
}

/* Articles */

section {
    padding: 1rem;
}

section > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

section > h2 {
    color: var(--h2-color);
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
}

section > div > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--articlebg);
    border-radius: 10px;
    padding-bottom: 1rem;
}

section > div > article > img {
    max-width: 22rem;
    padding-bottom: 1rem;
    height: 20rem;
}

section > div > article > h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

section > div > article > button {
    color: var(--btn-color);
    background-color: var(--bg-color);
    font-weight: bold;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 40px;

    &:hover {
        background-color: var(--navtext-color);
        color: var(--h2-color);
    }
}